@font-face {
    font-family: 'Orbitron Medium';
    src: url(fonts/Orbitron-Medium.ttf);
}

@font-face {
    font-family: 'Bahnschrift SemiBold';
    src: url(fonts/bahnschrift.ttf);
}


/* --Reset stylesheet-- */
*
{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* --Initial styling-- */
body
{
    background: #05013B;
    overflow-x: hidden;
}
main
{
    min-width: 900px;
}

/* --Makes links color shift when hovered over-- */
a img:hover
{
    filter: brightness(70%) contrast(165%);
}

/* --Fun secret stuff-- */
#dark-bg
{
    background-image: url(../images/dark-bg.png);
    background-clip: border-box;
}
#secret-1
{
    position: relative;
    top: 372px;
    left: 45px;
    opacity: 0;
    /* ^^ Set opacity to 1 to see link */
}
#secret-1 img
{
    width: 15px;
}

#secret-2
{
    position: relative;
    bottom: 29px;
    left: 46%;
    opacity: 0;
}
#secret-2 img
{
    width: 13px;
}

/* --Header-- */
header img
{
    width: 100%;
    height: auto;
    display: block;
    align-content: center;
    min-width: 900px;
    overflow-x: hidden;
}

/* --Navbar-- */
nav
{
    height: 80px;
    width: 100%;
    min-width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0B0061, #2400B0);
    background-clip: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 20px 30px -20px #060025;
}
nav a
{
    color: #51FFE0;
    font-family: 'Orbitron Medium', Helvetica, sans-serif;
    display: block;
    margin: 24px;
    font-size: 200%;
    text-decoration: none;
    filter: drop-shadow(0px 0px 5px #05013B);
    transition: transform 0.2s;
}   
nav a:hover
{
    transform: scale(1.04, 1.04);
    color: #1980FC;
}
nav img
{
    width: 70px;
    margin-top: 10px;
}

/* --Side images-- */
#side-a
{
    height: 750px; /*full is 860px*/
    width: 12.5%; /*full is 170px*/
    background-image: url(../images/side-image-left.png);
    background-size: auto;
    float: left;
    min-width: 100px;
}
#side-b
{
    height: 750px;
    width: 12.5%;
    background-image: url(../images/side-image-right.png);
    background-size: auto;
    float: right;
    min-width: 100px;
}

#side-a-fade
{
    height: 860px; /*full is 860px*/
    width: 12.5%; /*full is 170px*/
    background-image: url(../images/side-image-left-fade.png);
    background-size: auto;
    float: left;
    min-width: 100px;
}
#side-b-fade
{
    height: 860px;
    width: 12.5%;
    background-image: url(../images/side-image-right-fade.png);
    background-size: auto;
    float: right;
    min-width: 100px;
}

/* --General list adjustments-- */
ul
{
    list-style-type: none;
    display: inline-block;
    margin: auto;
}
li
{
    float: left;
}

/* --Text colors/fonts-- */
h1
{
    font-size: 40px;
}
h2
{
    font-size: 30px;
}
h3
{
    font-size: 24px;
}
h1, h2, h3
{
    color: #51FFE0;
    font-family: 'Orbitron Medium', Helvetica, sans-serif;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 10px;
}
p
{
    color: #51FFE0;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: large;
    padding: 10px;
    text-shadow: 1px 1px 1px #0B0061;
}
.dark
{
    text-shadow: 3px 3px #0B0061;
}
.light
{
    text-shadow: 3px 3px #1980FC;
}
p.dark
{
    text-shadow: 1px 1px 1px #0B0061;
}
p.light
{
    text-shadow: 1px 1px 1px #1980FC;
}

/* --Page Title-- */
#title
{
    height: 75px;
    width: 75%;
    margin: auto;
    display: block;
    background-image: url(../images/title-bg.png);
    background-size: cover;
    min-width: 800px;
}
#title h1
{
    text-align: center;
    color: #2400B0;
    font-size: 44px;
}

    /* - - - - HOME PAGE STYLING - - - - */

/* --"New music" section-- */
#new-music
{
    height: 525px;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(#51FFE0, #17AF9A);
    background-clip: border-box;
    min-width: 800px;
}
#new-music img
{
    width: 79%;
    margin: auto;
    position: relative;
    top: 20px;
}
#vid-embed
{
    max-height: 400px;
}
#vid-embed iframe
{
    width: 70.4%;
    margin: auto;
    /* padding-top: 56.25%; */
    /* overflow: hidden; */
    position: relative;
    left: 15%;
    bottom: 420px;
    /* bottom: 890px; */
    z-index: 98;
}

/* --"Listen on" section-- */
#listen-on
{
    height: 150px;
    width: 75%;
    margin: auto;
    background-image: linear-gradient(#0B0061, #2400B0);
    background-clip: border-box;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
#listen-on h2
{
    float: left;
    position: relative;
    left: 160px;
    top: 42px;
}
#listen-on ul
{
    float: left;
    position: relative;
    left: 180px;
    top: 12px;
}
#listen-on li
{
    margin-top: 10px;
    transition: transform 0.2s;
}
#listen-on li:hover
{
    transform: scale(1.05, 1.05);
}
#listen-on section
{
    width: 98%;
    height: 95%;
    margin: auto;
    min-width: 1000px;
}
#listen-on img
{
    width: 80%;
}

/* --Shop section-- */
#shop
{
    float: left;
    height: 450px;
    width: 37%;
    display: block;
    background-image: linear-gradient(#51FFE0, #17AF9A);
    background-clip: border-box;
}
#shop h2
{
    text-align: center;
    color: #1980FC;
}
#shop img
{
    width: 70%;
    margin: auto;
    border: 5px solid #0B0061;
    border-radius: 10px;
    position: relative;
    top: 18px;
}

/* --Youtube post feed-- */
#feed
{
    float: left;
    height: 450px;
    width: 63%;
    display: block;
    background-image: linear-gradient(#0B0061, #2400B0);
    background-clip: border-box;
    overflow-x: hidden;
}
#feed > div
{
    width: 100%;
}

/* --Discord section-- */
#discord
{
    float: left;
    height: 280px;
    width: 100%;
    display: block;
    background-image: linear-gradient(#0B0061, #2400B0);
    background-clip: border-box;
    min-width: 800px;
}
#discord h2
{
    margin-left: 3%;
}
#discord p
{
    margin-left: 2%;
    min-width: 1000px;
    display: block;
}
#discord button
{
    margin: auto;
    color: #51FFE0;
    text-decoration: none;
    background-image: linear-gradient(#0B0061, #060025);
    border-radius: 10px;
    position: relative;
    right: 200px;
    top: 15px
}
#discord button:hover
{
    background-image: linear-gradient(#1980FC, #0B0061);
    filter: drop-shadow(0px 0px 3px #51FFE0);
}
#discord img
{
    visibility: hidden;
}

    /* - - - - DISCOGRAPHY PAGE STYLING - - - - */

/* --Song list section-- */

#songlist
{
    height: min-content;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(to right, #0B0061, #2400B0, #0B0061);
    background-clip: border-box;
}
#grid
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: min-content;
    padding-bottom: 60px;
}
#grid img /* Album art; images need to be 220px by 220px */
{
    margin: 15px;
    filter: sepia(100%) brightness(75%) hue-rotate(170deg) saturate(320%) contrast(115%);
    transition: transform 0.2s;
}
#grid img:hover
{
    filter: brightness(100%) drop-shadow(0px 0px 5px black);
    transform: scale(1.02, 1.02);
}
.songbox
{
    width: 250px;
    height: 350px;
    margin: 20px;
    background-image: linear-gradient(#51FFE0, #17AF9A);
    background-clip: border-box;
    border: 3px solid #1980FC;
    border-radius: 4px;
    display: none; /* Default is none to hide content for sorting function */
}
.show /* Used for showing selected song categories via sort function */
{
    display: block;
}
.info
{
    background-color: #060025;
    width: 250px;
    height: 97px;
}
.info h3
{
    position: relative;
    right: 8px;
    bottom: 8px;
    max-height: 30px;
}
.info p
{
    color: #1980FC;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
    font-weight: bold;
    position: relative;
    right: 4px;
    top: 18px;
}
.info a
{
    float: right;
    margin: 4px;
    position: relative;
    bottom: 20px;
    color: #51FFE0;
}
.info a:hover
{
    filter: brightness(70%);
}

/* --Sort button styling-- */
#button-box
{
    height: min-content;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button
{
    color: #1980FC;
    font-family: 'Orbitron Medium', Helvetica, sans-serif;
    font-size: 24px;
    width: 200px;
    height: 50px;
    margin: 20px 10px 10px 10px;
    background-image: linear-gradient(#0B0061, #060025);
    border-radius: 10px;
    transition: transform 0.2s;
}
.button:hover
{
    cursor: pointer;
    color: #51FFE0;
    background-image: linear-gradient(#1980FC, #0B0061);
    transform: scale(1.03, 1.03);
}
.button:active
{
    background-image: linear-gradient(#1980FC, #0B0061);
    filter: brightness(80%) contrast(130%);
}
.button.current
{
    color: #51FFE0;
    filter: drop-shadow(0px 0px 3px #51FFE0);
}

    /* - - - - WORLD PAGE STYLING - - - - */

/* --Entry list section-- */
#entrylist
{
    height: min-content;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(to right, #0B0061, #2400B0, #0B0061);
    background-clip: border-box;
}
#entrylist h2
{
    padding-top: 28px;
}
.category
{
    float: right;
    margin: 20px;
    color: #1980FC;
    font-size: larger;
}
.category a
{
    color: #51FFE0;
    text-decoration: none;
    font-size: 26px;
    background-image: linear-gradient(#0B0061, #060025);
    padding: 5px 10px 8px 10px;
    border-radius: 5px;
}
.category a:hover
{
    background-image: linear-gradient(#1980FC, #0B0061);
}
.entries
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: min-content;
    padding-bottom: 20px;
}
.dropdown
{
    color: #51FFE0;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
    font-weight: bold;
    background-image: linear-gradient(#0B0061, #060025);
    padding: 12px;
    margin-top: 15px;
    width: 98%;
    height: min-content;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.2s;
}
.dropdown:hover
{
    cursor: pointer;
    background-image: linear-gradient(#1980FC, #0B0061);
    transform: scale(1.01, 1.01);
}
.dropdown:active
{
    background-image: linear-gradient(#1980FC, #0B0061);
    filter: brightness(80%) contrast(130%);
}
.active
{
    filter: drop-shadow(0px 0px 3px #51FFE0);
}
.dropdown small
{
    color: #1980FC;
}
.dropdown:hover small
{
    color: #51FFE0;
}
.description
{
    padding: 0px 18px 5px;
    display: none;
    overflow: hidden;
    background-image: linear-gradient(to right, #060025, #05013B, #060025);
    background-clip: border-box;
    width: 91%;
    border-radius: 0px 0px 10px 10px;
    transition: transform 0.5s;
}
.description > div
{
    display: block;
    height: min-content;
}
.description h2
{
    margin: 0px;
}
.description h3
{
    margin-bottom: 5px;
}
.description p, .description li
{
    color: #51FFE0;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: large;
    padding: 8px;
    margin: 2px;
}
.description table
{
    margin: 8px;
    border-collapse: collapse;
}
.description td
{
    color: #51FFE0;
    font-family: 'Orbitron Medium', Helvetica, sans-serif;
    font-size: larger;
    padding: 6px 30px 7px 2px;
    width: fit-content;
    border-bottom: 2px solid #51FFE0;
}
.description ul
{
    list-style-type: disc;
    margin-left: 15px;
    text-align: justify;
    text-justify: auto;
}
.description img
{
    margin: 10px;
    float: right;
    width: 30%;
}

    /* - - - - ABOUT PAGE STYLING - - - - */

/* --Bio section-- */
#bio
{
    height: min-content;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(to right, #0B0061, #2400B0, #0B0061);
    background-clip: border-box;
}
#bio img
{
    width: 250px;
    border: 5px solid #51FFE0;
    border-radius: 10px;
}
#bio p
{
    margin: 5px 8px 0px 8px;
    text-align: justify;
    text-justify: auto;
}

/* --Contact section-- */
#contact
{
    height: 200px;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(#51FFE0, #17AF9A);
    background-clip: border-box;
}
#contact h2
{
    color: #1980FC;
    margin-bottom: 4px;
}
#contact p
{
    color: #51FFE0;
    padding: 3px;
    margin-left: 20px;
    font-size: x-large;
}
#contact div
{
    width: 90%;
    margin: auto;
    background-color: #05013B;
    border: 5px solid #2400B0;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 5px;
}

/* --Feedback section-- */
/* #feedback
{
    height: 400px;
    width: 75%;
    margin: auto;
    display: block;
    background-image: linear-gradient(#0B0061, #2400B0);
    background-clip: border-box;
    min-width: 800px;
}
#feedback h2
{
    text-align: center;
}
#feedback form
{
    height: 315px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-image: linear-gradient(#0B0061, #060025);
    border: #1980FC;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
#entry-a
{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: block;
    position: relative;
    left: 12%;
}
#entry-b
{
    width: 400px;
    display: block;
    position: relative;
    left: 15%;
    bottom: 10px;
}
label
{
    color: #51FFE0;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: large;
    padding: 10px;
}
#entry-b label
{
    text-align: center;
    margin-left: 19%;
}
#entry-a input, textarea
{
    color: #0B0061;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    background-color: #51FFE0;
    border-color: #17AF9A;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
textarea
{
    margin-top: 10px;
    max-height: 150px;
    min-height: 150px;
    max-width: 400px;
    min-width: 400px;
    resize: none;
    position: relative;
    left: 20%;
}
#submit
{
    padding: 15px;
    margin: auto;
    display: block;
    color: #51FFE0;
    font-family: 'Bahnschrift SemiBold', 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
    background-image: linear-gradient(#1980FC, #2400B0);
    background-clip: border-box;
    border-color: #0B0061;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    left: 2px;
}
#submit:hover
{
    filter: brightness(80%) contrast(165%);
} */

/* --Footer-- */
hr
{
    display: block;
    margin-top: 12px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    color: #51FFE0;
}
#footer-links
{
    text-align: center;
}
footer
{
    background-color: #060025;
    margin: auto;
    min-width: 800px;
    display: block;
}
footer p
{
    text-align: center;
    font-size: medium;
}
footer li
{
    margin-top: -2%;
    margin-bottom: -5%;
}
footer a
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    font-size: 30px;
}

/* --Floating/positioning-- */
.floatleft
{
    float: left;
    margin: 2%;
    margin-bottom: 5px;
}
.floatright
{
    float: right;
    margin: 2%;
    margin-bottom: 5px;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

@media screen and (min-width: 1000px)
{
    header
    {
        min-width: 1100px;
        min-height: 200px;
    }
    nav a
    {
        color: #51FFE0;
        font-family: 'Orbitron Medium', Helvetica, sans-serif;
        display: flex;
        flex-wrap: nowrap;
        margin: 0% 3% 0% 3%;
        font-size: 250%;
        text-decoration: none;
    } 
    nav img
    {
        width: 78px;
        margin-top: 0px;
    }

    #listen-on li
    {
        margin: 0px 10px 0px 10px;
    }
    #listen-on img
    {
        width: 100%;
    }
    #listen-on h2
    {
        float: left;
        position: relative;
        left: 120px;
        top: 42px;
    }
    #listen-on ul
    {
        float: left;
        position: relative;
        left: 120px;
        top: 12px;
    }

    #discord p
    {
        margin-left: 5%;
        min-width: 1000px;
        display: block;
    }
    #discord img
    {
        position: relative;
        left: 76%;
        bottom: 190px;
        display: block;
        float: left;
        visibility: visible;
    }
}